<div class="container">
  <h1 class="justify-content-center align-items-center mt-3" [@fadeIn]>BLOGPOST LIST</h1>
  <div class="d-flex justify-content-end mt-3">
    <button type="button" pButton class="primary-button" [routerLink]="['/admin/blogposts/add']" icon="pi pi-plus"
      label="NEW POST" style="background-color: black; color: white; border: none;"></button>
  </div>

  <div class="card">
    <p-table #dt [value]="blogList" dataKey="blogModule.id" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" [scrollable]="true" [scrollHeight]="'calc(100vh - 300px)'"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
      [globalFilterFields]="['blogModule.title', 'blogModule.author', 'content[0].content', 'blogModule.publishedDate']">
      <ng-template pTemplate="caption">
        <div class="p-inputgroup" style="width: 250px; margin-bottom: 10px;">
          <input  pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Search"
            class="p-inputtext p-placeholder-filled" style="width: 100%;" />
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>
            <div class="flex justify-content-between align-items-center">
              Title
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Author
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Categories
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Published Date
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Actions
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-blogPost let-even="even" let-odd="odd" let-index="rowIndex">
        <tr>
          <td>
            <a [routerLink]="['/admin/blogposts', blogPost.blogModule.id]">{{ blogPost.blogModule.title }}</a>
          </td>
          <td>{{ blogPost.blogModule.author }}</td>
          <td>
            <ng-container *ngIf="blogPost.categoryNames && blogPost.categoryNames.length > 0 && blogPost.categoryNames[0].trim() !== ''; else noCategories">
              <span class="badge me-2" style="background-color: yellowgreen; color: white;"
                *ngFor="let category of blogPost.categoryNames">
                {{ category }}
              </span>
            </ng-container>
            <ng-template #noCategories>
              No Categories
              <i class="pi pi-exclamation-circle text-danger"></i>
            </ng-template>
          </td>
          <td>{{ blogPost.blogModule.publishedDate | date: 'MM/dd/yyyy' }}</td>
          <td>
            <a [routerLink]="['/admin/blogposts', blogPost.blogModule.id]">
              <span><i class="pi pi-file fa-lg" style="color: #511f37;"></i></span>
            </a>
            <a (click)="OnDelete(blogPost.blogModule.id)" class="ms-2">
              <i class="pi pi-trash fa-lg" style="color: #f10404;"></i>
            </a>
            <a class="ms-2">
              <i class="pi pi-eye fa-lg" style="color: #28879a;"></i>
            </a>
            <a class="ms-2">
              <i class="pi pi-file-pdf fa-lg" style="color: #e71368;"></i>
            </a>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">No blog posts found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
